.about-section-container {
  display: flex;
}

.about-img-contaienr {
  flex: 1 1;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  margin-left: 58px;
  justify-content: flex-end;
}

.about-title {
  width: 224px;
  height: 60px;
  margin: 0;
  font-family: SFCompactDisplay, Roboto, sans-serif;
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #8747ab;
  margin-bottom: 20px;
}

.about-paragraph-container {
  width: 486px;
  height: 441px;
  padding:0;
  margin: 0;
}

.about-paragraph {
  font-family: SFCompactDisplay, Roboto, sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.06px;
  color: #3f546c;
  margin-top: 0;
}

@media screen and (max-width: 1200px){

}