.about-section-container {
  display: flex;
}

.about-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img-container img {
  width: 100%;
  height: auto;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  margin-left: 58px;
  justify-content: flex-end;
}

.about-title {
  margin: 0;
  font-family: SFCompactDisplay, Roboto, sans-serif;
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #8747ab;
  margin-bottom: 20px;
}

.about-paragraph-container {
  width: 486px;
  height: 441px;
  padding:0;
  margin: 0;
}

.about-paragraph {
  font-family: SFCompactDisplay, Roboto, sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.06px;
  color: #3f546c;
  margin-top: 0;
}

@media screen and (max-width: 1200px){
  .about-text-container {
    margin-left: 20px;
  }

  .about-paragraph-container{
    margin-right: 10px;
  }
}

@media screen and (max-width: 1000px){
  .about-section-container{
    flex-direction: column-reverse;
    /* align-items: center; */
    justify-content: center;

  }

  .about-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    width: 70%;
    align-self: center;
  }

  .about-title {
    font-size: 30px;
  }

  .about-paragraph-container {
    height: auto;
    width: 100%;
    margin: 0;
  }

  .about-paragraph {
    margin: 0;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 600px){
  .about-text-container {
    width: 100%;
    margin: 0 20px;
  }

  .about-paragraph {
    margin: 10px;
  }
}