.brand-container {
  display: flex;
  align-items: center;
  padding-left: 120px;
  padding-top: 20px;
}

.logo-text {
  padding-left: 28px;
  z-index: 100;
}

@media screen and ( max-width: 1200px ) {
  .brand-container {
    padding-left: 20px;
  }
}

@media screen and (max-width: 800px) {
  .logo-text{
    display: none;
  }
}