.contact-form {
  width: 381px;
  height: 552px;
  box-shadow: 10px 10px 50px 0 rgba(8, 8, 8, 0.25), 10px 10px 60px 0 rgba(141, 154, 169, 0);
  background-color: #ffffff;
  border-radius: 20px;
  z-index: 100;
  position: absolute;
  top: 396px;
  left: 244px;
}

.form-element-container {
  margin-left: 38px;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
}

.form-label {
  width: 80px;
  height: 19px;
  font-family: SFProDisplay, Roboto, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  color: #3f546c;
}

.form-name {
  margin-bottom: 12px;
}

.form-input-outerdiv {
  position: relative;
  background: linear-gradient(101deg, #ea4972, #4a51e2);
  width: 258px;
  height: 40px;
  border-radius: 7px;
}

.form-input-name {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 254px;
  height: 36px;
  border-radius: 7px;
  border: none;
}

.form-input-name::placeholder {
  width: 113px;
  height: 19px;
  font-family: SFProDisplay, Roboto, sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  color: #b7b7b7;
  tab-size: 14px;
}