.background {
  background: top right no-repeat url('../images/mimi-thian-737634-unsplash.jpg');
  display: flex;
  padding-top: 51px;
  height: 876px;
  width: 876px;
  position: absolute;
  top: 0;
  right: 0;
}

.uk-flag-top {
  position: absolute;
  top: 52px;
  right: 133px;
}

.flagdrop-nav {
  position: absolute;
  top: 58px;
  right: 120px;
}