.background {
  background: top right /contain no-repeat url('../images/mimi-thian-737634-unsplash.jpg');
  display: flex;
  padding-top: 51px;
  height: 876px;
  width: 876px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

@media screen and (max-width: 1200px){
  .background {
    height: 700px;
    width: 700px;
  }
}

@media screen and (max-width: 1000px){
  .background {
    height: 550px;
    width: 550px;
  }
}

@media screen and (max-width: 800px){
  .background {
    height: 450px;
    width: 450px;
    justify-content: flex-end;
  }
}