.marketing-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 55px;
  max-width: 260px;
}

.pink-rectangle-marketing {
  width: 111px;
  height: 79px;
  border-radius: 6px;
  background-color: rgba(234, 73, 114, 0.35);
  position: absolute;
  top: 0;
  right: 58px;
}

.marketing-shape-icon{
  position: absolute;
  top: 99px;
  left: 100px;
}

.marketing-icon {
  margin-top: 9px;
  margin-bottom: 19px;
}

.marketing-title {
  width: 173px;
  height: 24px;
  font-family: SFCompactDisplay, Roboto, sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.71px;
  color: #3f546c;
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
}

.marketing-text-container {
  width: 260px;
  height: 57px;
}

.marketing-text {
  font-family: SFCompactDisplay, Roboto, sans-serif;
  font-size: 15px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #506883;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1200px){
  .marketing-container{
    margin: 0 10px;
  }
}

@media screen and (max-width: 1000px){
  .marketing-container{
    margin: 20px 10%;
  }
}

@media screen and (max-width: 800px){
  .marketing-container{
    margin: 20px 5%;
  }
}